fastapi
uvicorn
openai
pandas
python-multipart
psycopg2
datetime
boto3
BeautifulSoup4
beautifulSoup4
pandasai
bs4
requests
pdfkit
weasyprint
gobject
langchain
pinecone-client
sentence_transformers
pdf2image
pypdf
xformers
bitsandbytes 
accelerate 
transformers
PyMuPDF
boto3
PyPDF2