fastapi
uvicorn
openai
pandas
python-multipart
psycopg2
datetime
boto3
BeautifulSoup4

bs4
requests
pdfkit
weasyprint
gobject
langchain
pinecone-client
pdf2image
pypdf
xformers
bitsandbytes 
accelerate 
transformers
PyMuPDF
boto3
PyPDF2
langchain